.gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(#9cb7ca, #e1e9ef);
  margin-left: auto;
  margin-right: auto;
  padding: 85px 0px 5px 5px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.rcorners, .rcorners2 {
  padding:1%;
  margin:0;
  display: inline-block;
  border: 2px solid #527c9a;
  vertical-align:bottom;
}

.rcorners {
  border-radius: 40px;
  width:22%;
  height: 300px;  
}

.rcorners2 {
  border-radius: 15px;
  width: 25%;
  height: 380px;  
}

#prvi, #drugi, #srednji {
    margin-bottom: 5%;
}

#prvi {
  margin-left: 11%;
  margin-right: 0%;
}

#drugi {
  margin-right: 5.5%;
  margin-left: 0%;
}

#srednji {
  margin-left: 1%;
  margin-right: 1%;
}

.rcorners2 p, .rcorners2 h4,  .rcorners p, .rcorners h4{
  text-align: center; 
  color: #527c9a;
}

h4{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.rcorners2 h4{
  margin-top: 75px;
}

.rcorners h4 {
  margin-top: 60px;
}

p {
  font-size: 13px;
  margin: 0px;
}

.rcorners, .rcorners2 legend {
  text-align: center;
  color: #527c9a;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {

  .gradient {
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }

  #prvi {
    display: none;
  }
  
  #srednji, #drugi {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }

  #srednji {
    width: 40%; 
  }
  
  #drugi {
    width: 30%;
    margin-top: 5%;
  }
}