.meni {
  height: 4vh;
}
div.meni a {
    display: inline-block;
    padding: 10px;
    color: #527c9a;
    text-decoration: none;
    background-color:#f9d39f;
}

div.meni a:hover {
    color: #496f8a;
    font-weight: bold;
}

div.meni a:visited {
    color: #527c9a;
  }

  div.meni a:visited:hover {
    color:#496f8a;
    font-weight: bold;
  }