section {
    margin: 0;
    height:90vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

.container {
    height:50vh;
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 0;
    padding: 0;
}

label {
    display: inline-block;
    width:110px;
    padding:6px 6px 6px 0px;
    text-align: right;
}

button {
    display: block;
    width:110px;
    padding:6px 6px 6px 0px;
    height: 30px;
}

input, select {
    padding: 6px;
    margin: 6px 0px 6px 6px;
    border: 2px solid;
}

input {
    width: 120px;
}

select {
    width: 136px;
}

#naziv {
    margin-top: 0;
}

#dani {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {

    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    input, select {
        display: block;
    }
}