.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 30px;
}

td > span {
    display: block;
    font-size: 12px;
}

    
td:nth-of-type(2n){
    border-right-style: dashed;
}

.tg td {
    border: 1px solid;
    text-align: center;
    padding-top: 2px;
    font-size: 17px;
    overflow: hidden;
    width: 20px;
    height: 60px;
    background-color: #ececec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align:top;
}

td:nth-of-type(2n){
    border-right-style: dashed;
}

td:nth-of-type(2n+1){
    border-left-style: dashed;
}

.tg th, .tg .sat{
    font-weight: normal;
}

.tg .sat, .tg .dan {
    text-align:right;
    border-width: 0px;
}

.tg .sat {
    font-size:16px;
    overflow: hidden;
    width: 20px;
}

.tg .dan {
    font-family: "Lucida Sans Typewriter", "Lucida Grande", sans-serif;
    padding:10px;
    padding-top: 0px;
    background-color: white;
    vertical-align: middle;   
}

p {
    padding: 2px;
}

.tg .tg-das, .tg .tg-das1, .tg .tg-das2 {
    background-color: #dce5ec;
    border: solid 1px;
}

.tg .tg-das2, .tg .prazno1 {
    border-left-style: dashed;
}

.tg .tg-das1 {
    border-right-style: dashed;
}


@media only screen and (max-width: 600px) {
    .tg {
        width: 100%;
    }
        
    .tg .tg-das, .tg .dan, .tg .tg-das1, .tg .tg-das2 {
        display: block;
        width: 30%;
        border: 1px solid;
    }
        
    .tg .sat, .tg .prazno, .tg .prazno1 {
        display: none;
    }
        
    .tg .dan {
        display:block;
        width:28%;
        padding-top:6%;
        padding-bottom:1%;
        font-size:18px;
        height:10%;
        border: none;
    }
}