table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

div.tabela {
    margin-top: 20px;
    padding:10px;
}

td {
    padding: 8px;
    text-align: center;
    border: 1px solid;
    width:145px;
}

tr:hover {
    border: solid 2px;
}