section {
    margin: 0;
    display: flex;
    align-items:center;
    justify-content:center;
}

.container {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 0;
    padding: 0;
}

label {
    display: inline-block;
    width:110px;
    padding:6px 6px 6px 0px;
    text-align: right;
}

button {
    display: block;
    width:110px;
    padding:6px 6px 6px 0px;
    height: 30px;
}

input, select {
    padding: 6px;
    margin: 6px 0px 6px 6px;
    border: 2px solid;
}

input {
    width: 120px;
}

select {
    width: 136px;
}

#naziv {
    margin-top: 0;
}

#dani {
    margin-bottom: 0;
}

#predmetiTabela, #aktivnostiTabela{
    border-collapse: collapse;
    border: 1px solid;
    border-spacing: 0;
}

td, th {
    border: 1px solid;
    width: 150px;
}

.container2 {
    border: 3px solid #fff;
    padding: 20px;
}

.tabela1{
    width: 30%;
    float: left;
    padding: 20px;
    background-color: rgb(217, 248, 245);
    min-height: 200px;
}  

.tabela2 {
    background-color: rgb(246, 229, 253);
    padding: 20px;
    min-height: 200px;
}

#snackbar{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
  }

  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

@media only screen and (max-width: 600px) {

    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    input, select {
        display: block;
    }
}